<body>
<div class="content">
    <div class="info-container">
      <div class="greetings-container">
        <h2 class="greetings">HI THERE</h2>
        <div class="presentation-aligner">
          <h1 class="greetings">I'M</h1>
          <h1 class="yellow-name"> CAIO</h1>
        </div>
      </div>
      <div class="yellow-container">
        <p>FULL STACK DEVELOPER | IT STUDENT</p>
      </div>
      <p class="description">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type
        specimen book. It has survived not only five centuries, but also the leap into
        electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
        with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
        desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </p>
      <div class="socials-container">
        <a href="https://www.linkedin.com/in/caiovitordm" target="_blank">
          <img width="30px" src="assets/svg/linkedin.svg">
          <span class="tooltip">
            <div class="arrow-up"></div>
            LinkedIn
          </span>
        </a>
        <a href="https://github.com/CaioVitorDM" target="_blank">
          <img width="30px" src="assets/svg/github.svg">
          <span class="tooltip">
            <div class="arrow-up"></div>
            GitHub
          </span>
        </a>
        <a href="mailto:caiovitordm@protonmail.com">
          <img width="30px" src="assets/svg/envelope-regular.svg">
          <span class="tooltip">
            <div class="arrow-up"></div>
            Mail me
          </span>
        </a>
        <a (click)="downloadFile('assets/Curriculum Vitae.pdf')" style="cursor: pointer">
          <img width="30px" height="30px" src="assets/svg/file-lines-regular.svg">
          <span class="tooltip">
            <div class="arrow-up"></div>
            Curriculum
          </span>
        </a>
      </div>
    </div>

  <div class="circle-container">
    <div class="orbit">
      <div class="planet planet-1"></div>
      <div class="planet planet-2"></div>
      <div class="planet planet-3"></div>
      <div class="planet planet-4"></div>
    </div>
    <img src="./assets/profile-pic.jpg" alt="Minha Foto" class="profile-photo">
  </div>

</div>
</body>
